login {
    width:400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

login email {
    padding: 10px;
    float: left;
    width: calc(100% - 20px);
}

login password {
    padding: 10px;
    float: left;
    width: calc(100% - 20px);
}

login fields label {
    float: left;
    width:  100%;
    padding-bottom: 5px;
    color:#fff;
}

login fields input{
    float: left;
    background-color: var(--input-background);
    font-size: 120%;
    border-radius: 5px;
    text-indent: 15px;
    border: 0;
    float: left;
    height: 40px;
    padding: 0;
    outline: none;
    margin-bottom: 10px;
    width: 100%;    
}

login fields input:-internal-autofill-selected{
    background-color: var(--input-background);
}

login fields input:-webkit-autofill{
    background-color: var(--input-background);
}

login buttons{
    width: 100%;
}

login buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float:right;
}

login buttons button:hover {
    background-color: #0056b3;
}