body > header {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

body > header > buttons {
    float:right;
}

body > header > buttons > button {

    float: right;
    margin-left: 10px;    

}

body > header > category > button {

    float: left;
    margin-right: 10px;    

}

body > header > category > button[selected="1"]{
  /*   font-weight: 900; */
    text-decoration: underline;
}

body > header > category {
    float: left;
}
