body > header {
    float: left;
    width: calc(100% - 80px);
    margin-bottom: 40px;
    margin-left: 80px;    
}

body > header > buttons {
    float:right;
}

body > header > buttons > button {

    float: right;
    margin-left: 10px;    

}

body > header > category > button {

    float: left;
    margin-right: 10px;    

}

body > header > category > button[selected="1"]{
  /*   font-weight: 900; */
    text-decoration: underline;
}

body > header > category {
    float: left;
}

profile {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    float: right;
}
