body > header {
    float: left;
    width: 100%;

}

body > header > buttons {
    float:right;
    margin-bottom: 20px;
}

body > header > buttons > button {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    color:#fff;
    background-color:#534d46;
    float: right;
    margin-left: 10px;    
    border: 0;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 2px 0px #000;
}

body > header > category > button {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    color:#fff;
    background-color:#282828;
    float: left;
    margin-right: 10px;    
    border: 0;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 2px 0px #000;
    margin-bottom: 10px;
}

body > header > category > button[selected="1"]{
    background-color:#534d46;
}

body > header > category {
    float: left;
}
